
.root {
    -fx-font-family: "Segoe UI",sans-serif;
    -fx-background-color: #2B2B2B;
    -fx-padding:10;
}

HBox{
    -fx-spacing:10;
}

.text-field {
    -fx-background-color: #3C3F41;
    -fx-border-color: #555;
    -fx-background-insets:0;
    -fx-background-radius:6;
    -fx-border-radius:6;
    -fx-text-fill: #EEE;
    -fx-prompt-text-fill: #888;
    -fx-border-width:1;
    -fx-padding:6 8;
}

.text-field .text{
    -fx-prompt-text-fill:#AAA;
}

.label{
     -fx-text-fill: white;
}

.button {
    -fx-background-color: transparent;
    -fx-text-fill: #DDD;
    -fx-border-color: #555;
    -fx-cursor:hand;
    -fx-font-size:13px;
    -fx-background-radius:6;
    -fx-padding:6 12;
     -fx-border-radius:5;
    -fx-border-width:1;
}

.button:hover {
    -fx-background-color: #DDD;
}


.btn-primary {
    -fx-background-color: #0A84FF;
    -fx-text-fill: white;
    -fx-border-color:transparent;
}
.btn-primary:hover {
    -fx-background-color: #0060DF;
}

.btn-delete:hover{
    -fx-background-color:red;
}


.radio-button {
    -fx-text-fill: #DDD;
    -fx-padding:4 8;
}
.radio-button:selected {
    -fx-background-color: #555;
    -fx-background-radius:4;
}


.list-view {
    -fx-background-color: #2B2B2B;        
    -fx-control-inner-background: #2B2B2B;
    -fx-border-color: #444; 
    -fx-border-radius:6;
    -fx-background-radius:6;
}
.list-view .list-cell {
    -fx-background-color: transparent;   
    -fx-text-fill: #EEEEEE;  
    -fx-padding:8;
    -fx-border-color: #444444;        
    -fx-border-width: 0 0 1 0;        
    -fx-border-insets: 0;
    -fx-border-style: solid;
    -fx-padding: 8 12;  

}
.list-view .list-cell:hover {
    -fx-background-color: #3C3F41;
}


.list-view .list-cell .checkbox{
    -fx-padding: 0 8 0 0;
    -fx-font-size: 14px;
    -fx-text-fill: #EEEEEE;   
}

.button .label{
    -fx-font-size: 14px;
    -fx-padding:0;
}

.icon-button{
    -fx-cursor:hand;
    -fx-padding:4;
}

.icon-button .font-icon {
    -fx-icon-color: #EEEEEE;             /* pinta los iconos de blanco */
}

.toggle-button {
  -fx-background-color: transparent;
  -fx-cursor: hand;
  -fx-padding: 4;
}
.toggle-button:hover {
  -fx-background-color: rgba(0,0,0,0.05);
}